## Test parser and matching

In [1]:
from agents.owner_parser_agent import invoke_owner_parser_agent
from agents.user_parser_agent import invoke_user_parser_agent
from agents.matching_agent import match_for_new_user, match_for_new_owner

In [2]:
# --- 1) Inputs (aligned) ---
owner_input = """
Modern 1-bedroom apartment in San Fransisco, just 2 blocks from Central Park.
Features hardwood floors, floor-to-ceiling windows, a fully equipped kitchen, and a gym in the building.
$2,200 per month, available starting September.
Picture: https://example.com/apt-photos/centralpark1.jpg
""".strip()

user_input = """
Looking for a 1-bedroom apartment in San Fransisco, preferably close to Central Park or major subway lines.
Natural light and building amenities like a gym are important. Budget up to $2,500 per month.
Move-in date flexible, but ideally in September.
""".strip()


# --- 2) Parse + upload (each returns the new point id) ---
print("âž• Uploading owner listingâ€¦")
owner_point_id = invoke_owner_parser_agent(owner_input)
print("Owner point id:", owner_point_id)

print("\nâž• Uploading user queryâ€¦")
user_point_id = invoke_user_parser_agent(user_input)
print("User point id:", user_point_id)

âž• Uploading owner listingâ€¦
âœ… Upserted 1 points into 'owner_agent_listings' without resetting the collection.
âœ… Uploaded owner listing with ID: 4bed098f15fc0a936f9e1636ba9efbe1 to 'owner_agent_listings'
âœ… Uploaded profile to owner_profiles: Charlotte Gonzalez
Owner point id: 4bed098f15fc0a936f9e1636ba9efbe1

âž• Uploading user queryâ€¦
âœ… Upserted 1 points into 'user_agent_listings' without resetting the collection.
âœ… Uploaded user query with ID: 097a26be7d8ded042cb73e7e3f2ba0f4 to 'user_agent_listings'
âœ… Uploaded profile to user_profiles: Robert Smith
User point id: 097a26be7d8ded042cb73e7e3f2ba0f4

In [3]:
# --- 3) Match both directions ---

print("\nðŸ”Ž Matching for NEW USER â†’ owner listings â€¦")
user_matches = match_for_new_user(user_point_id)

print("ðŸ”Ž Matching for NEW OWNER â†’ user queries â€¦")
owner_matches = match_for_new_owner(owner_point_id)

ðŸ”Ž Matching for NEW USER â†’ owner listings â€¦
ðŸ”Ž Matching for NEW OWNER â†’ user queries â€¦

In [4]:
from utils.qdrant_connection import print_owner_matches_with_details , print_user_matches_with_details

print_user_matches_with_details(user_matches, top_k=5)
print_owner_matches_with_details(owner_matches, top_k=5)

Top 5 owners for this user:
  score=0.7568  owner_id=4bed098f-15fc-0a93-6f9e-1636ba9efbe1
    [state: San Francisco | price: 2200 | bedrooms: 1 | available_from: September] soft: modern, hardwood floors, floor-to-ceiling windows, fully equipped kitchen, gym in the building, near Central Park
  score=0.5517  owner_id=b33d10a7-c117-61ac-61e0-dd37cc81a0e7
    [state: San Francisco, Russian Hill | price: 2400 | bedrooms: 2 | available_from: April] soft: prestigious neighborhood, spacious layout, updated kitchen, nearby restaurants and shops, wood library, office space
  score=0.5446  owner_id=ec4161ac-90d8-bb2a-867f-e5fe03a441b7
    [state: San Francisco | price: 2400 | bedrooms: 2 | available_from: October] soft: spacious, 5 minutes from the subway, balcony with city views, newly renovated kitchen, in-unit washer/dryer
  score=0.5322  owner_id=f9318209-9dd7-e72b-beac-df4cfa0fb33c
    [state: San Francisco | price: 2500 | bedrooms: 1 | available_from: None] soft: prime neighborhood, easy access to parks and local amenities, newly renovated, city views, private balcony, private parkâ€¦
  score=0.5287  owner_id=3d8d1af5-07a7-65c3-31d1-aa1abc6cb9ad
    [state: San Francisco | price: 2400 | bedrooms: 2 | available_from: April] soft: bright and inviting, beautiful natural light, custom mattresses, near Whole Foods, coffee shops, parks, easy access to tâ€¦
Top 3 users for this owner:
  score=0.7568  user_id=097a26be-7d8d-ed04-2cb7-3e7e3f2ba0f4
    [state: San Francisco | price: 2500 | bedrooms: 1 | available_from: September] soft: close to Central Park or subway lines, natural light, building amenities like a gym
  score=0.3689  user_id=f13bf0a4-bb93-ab3b-d350-198e9d0e5ed3
    [state: San Francisco, SoMa | price: 3500 | bedrooms: 1 | available_from: September] soft: good natural light, suitable for remote work, furnished preferred
  score=0.3142  user_id=777f238a-6ce5-7ebc-94a8-c743087981fe
    [state: San Francisco | price: 2400 | bedrooms: 1 | available_from: September] soft: beautiful bay views

[{'user_id': '097a26be-7d8d-ed04-2cb7-3e7e3f2ba0f4',
  'owner_id': '4bed098f-15fc-0a93-6f9e-1636ba9efbe1',
  'score': 0.7567988,
  'filter_used': {'collection': 'user_agent_listings',
   'state': ['San Francisco'],
   'price_owner': 2200,
   'bedrooms_owner': 1,
   'available_from': 'September'},
  'timestamp': 1755167582.0638237},
 {'user_id': 'f13bf0a4-bb93-ab3b-d350-198e9d0e5ed3',
  'owner_id': '4bed098f-15fc-0a93-6f9e-1636ba9efbe1',
  'score': 0.3688518,
  'filter_used': {'collection': 'user_agent_listings',
   'state': ['San Francisco'],
   'price_owner': 2200,
   'bedrooms_owner': 1,
   'available_from': 'September'},
  'timestamp': 1755167582.0638237},
 {'user_id': '777f238a-6ce5-7ebc-94a8-c743087981fe',
  'owner_id': '4bed098f-15fc-0a93-6f9e-1636ba9efbe1',
  'score': 0.31416792,
  'filter_used': {'collection': 'user_agent_listings',
   'state': ['San Francisco'],
   'price_owner': 2200,
   'bedrooms_owner': 1,
   'available_from': 'September'},
  'timestamp': 1755167582.0638237}]

In [5]:
from utils.qdrant_connection import get_user_profile , get_owner_profile
owner_profile = get_owner_profile(owner_point_id)  # -> dict or None
user_profile  = get_user_profile(user_point_id)    # -> dict or None

print(owner_profile)
print(user_profile)

{'profile_id': '4bed098f15fc0a936f9e1636ba9efbe1', 'type': 'owner', 'full_name': 'Charlotte Gonzalez', 'email': 'mahmoudbj48@gmail.com', 'phone': '+1-555-9951', 'application_date': '2025-07-21', 'number_of_shows': '0'}
{'profile_id': '097a26be7d8ded042cb73e7e3f2ba0f4', 'type': 'user', 'full_name': 'Robert Smith', 'email': 'mahmoudbj48@gmail.com', 'phone': '+1-555-9951', 'application_date': '2025-07-08', 'number_of_shows': '0'}

In [6]:
from agents.matching_agent import summarize_estimated_for_user, summarize_estimated_for_owner
summarize_estimated_for_user(user_point_id, user_matches, check_top_k=5)
summarize_estimated_for_owner(owner_point_id, owner_matches, check_top_k=5)

=== Estimated opportunities for you ===
- You appear as the #1 candidate in ~3 listing(s).
- You appear in the top 5 for ~24 listing(s).
- You have a strong â€˜hard-attributeâ€™ fit with ~28 listing(s).
- Total listings evaluated in this preview: 49
- Your current best score: 0.7568 (owner_id=4bed098f-15fc-0a93-6f9e-1636ba9efbe1)

Note: These are early estimates based on current matches.
Final invitations depend on scheduling, fairness (giving chances to those with fewer shows),
and listing popularity. You may not be invited to all matched properties.

=== Estimated demand for your listing ===
- Your listing appears as the #1 match for ~1 user(s).
- Your listing appears in the top 5 for ~2 user(s).
- There are ~3 user(s) whose requirements strongly fit your listing.
- Total users evaluated in this preview: 3
- Best current candidate score: 0.7568 (user_id=097a26be-7d8d-ed04-2cb7-3e7e3f2ba0f4)

Note: These are early estimates to help you gauge interest.
Actual showings are scheduled by our agent considering fairness, user availability,
and platform-wide demand management.

## Decicion

In [5]:
import os, csv
from datetime import datetime
from agents.manage_showings_agent import daily_llm_showing_decisions
from langchain_community.callbacks import get_openai_callback
from config.llm_config import llm  # not used here, but you may keep it

def run_daily_decisions():

    with get_openai_callback() as cb:
        results = daily_llm_showing_decisions(top_k=10, show_progress=True)

    # Keep CSV tidy: only write selected columns
    fieldnames = [
        "owner_id", "show", "num", "considered", "mean_top5",
        "sample", "owner_application_date", "owner_number_of_shows",
        "error_type", "error"
    ]
    out_path = f"logs/showings_decisions_{datetime.now().strftime('%Y%m%d-%H%M%S')}.csv"
    os.makedirs(os.path.dirname(out_path), exist_ok=True)

    with open(out_path, "w", newline="", encoding="utf-8") as f:
        w = csv.DictWriter(f, fieldnames=fieldnames)
        w.writeheader()
        for r in results:
            if "error" in r:
                w.writerow({
                    "owner_id": r.get("owner_id"),
                    "error_type": r.get("error_type"),
                    "error": r.get("error"),
                })
                continue

            dec = r.get("decision", {}) or {}
            own = r.get("owner_profile", {}) or {}
            w.writerow({
                "owner_id": r.get("owner_id"),
                "show": dec.get("show"),
                "num": dec.get("num"),
                "considered": r.get("considered"),
                "mean_top5": r.get("mean_top5"),
                "sample": r.get("sample"),
                "owner_application_date": own.get("application_date"),
                "owner_number_of_shows": own.get("number_of_shows"),
            })

    print(f"âœ… Done. {len(results)} owners processed. CSV â†’ {out_path}")

In [6]:
run_daily_decisions()

ManageShowings:   0%|          | 0/2 [00:00<?, ?owner/s]

âœ… Done. 2 owners processed. CSV â†’ logs/showings_decisions_20250814-190426.csv

## Display Qdrant Collections

In [ ]:
# Schema/profile explorer for Qdrant collections
# Inspects payload keys, their types, null %s, sample values, and basic stats for numerics.
# Also reports ID format/length and (optionally) whether certain fields like `score` / `timestamp` exist.

from qdrant_client import QdrantClient
from qdrant_client.http import exceptions as qexc
from collections import Counter, defaultdict
from datetime import datetime
import pandas as pd
import math, json, random

# --- Qdrant config (reuse yours or import from utils.qdrant_connection) ---
QDRANT_URL  = "https://3cf2848d-0574-468d-a996-0efabdea92b9.us-west-1-0.aws.cloud.qdrant.io"
QDRANT_KEY  = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.79h_Yg9qXYtICf-fs1CMuMdK5Rw13OnE_DJR953fYQ4"

client = QdrantClient(url=QDRANT_URL, api_key=QDRANT_KEY)

COLLECTIONS = [
    "owner_agent_listings",
    "user_agent_listings",
    "similarity_collection",
    "sampled_owner_agent_listings10",
    "owner_profiles",
    "user_profiles",
]

MAX_SCAN = 2000      # cap how many points to scan per collection (tweak as you wish)
SCROLL_BATCH = 1000  # Qdrant page size

def _scroll_some(collection_name, max_scan=MAX_SCAN, batch=SCROLL_BATCH):
    out, next_page = [], None
    while len(out) < max_scan:
        recs, next_page = client.scroll(
            collection_name=collection_name,
            with_payload=True,
            with_vectors=False,
            limit=min(batch, max_scan - len(out)),
            offset=next_page
        )
        out.extend(recs)
        if next_page is None:
            break
    return out

def _typename(v):
    if v is None: return "null"
    t = type(v)
    if t in (int, float, bool, str): return t.__name__
    if isinstance(v, list): return "list"
    if isinstance(v, dict): return "dict"
    return t.__name__

def _try_float(v):
    try:
        f = float(v)
        if math.isnan(f): return None
        return f
    except Exception:
        return None

def profile_collection(name: str, max_scan=MAX_SCAN):
    # Count first for context
    total = client.count(collection_name=name, exact=True).count
    print(f"\n=== {name} ===")
    print(f"Total points: {total}")

    # Scroll some
    records = _scroll_some(name, max_scan=max_scan)
    n = len(records)
    print(f"Scanned: {n} points (max_scan={max_scan})")

    # ID profile
    id_lengths = [len(str(r.id)) for r in records]
    id_prefixes = [str(r.id)[:8] for r in records]
    print(f"ID lengths: min={min(id_lengths) if id_lengths else '-'} "
          f"max={max(id_lengths) if id_lengths else '-'} "
          f"median={sorted(id_lengths)[len(id_lengths)//2] if id_lengths else '-'}")
    print(f"Sample IDs: {[str(r.id) for r in records[:3]]}")

    # Payload key coverage
    key_counter = Counter()
    # For each key, track types and a few sample values
    type_counter = defaultdict(Counter)
    samples = defaultdict(list)

    # Numeric stats
    numeric_stats = defaultdict(lambda: {"min": float("inf"), "max": float("-inf"), "count": 0})

    # Boolean / small-cardinality tracking
    value_counts_small = defaultdict(Counter)

    for r in records:
        p = r.payload or {}
        for k, v in p.items():
            key_counter[k] += 1
            tname = _typename(v)
            type_counter[k][tname] += 1

            if len(samples[k]) < 5:
                samples[k].append(v)

            # numeric stats
            fv = _try_float(v)
            if fv is not None:
                s = numeric_stats[k]
                s["min"] = min(s["min"], fv)
                s["max"] = max(s["max"], fv)
                s["count"] += 1

            # track small cardinality (strings/ints only)
            if isinstance(v, (str, int, float, bool)) and key_counter[k] <= 2000:
                value_counts_small[k][v] += 1

    rows = []
    for k in sorted(key_counter.keys()):
        present = key_counter[k]
        nulls = n - present
        coverage = present / n * 100 if n else 0.0
        types = ", ".join(f"{t}:{c}" for t, c in type_counter[k].most_common())

        stat = numeric_stats[k]
        num_summary = "-"
        if stat["count"] > 0:
            num_summary = f"[min={stat['min']:.4g}, max={stat['max']:.4g}, count={stat['count']}]"

        # choose a readable sample preview (stringify and truncate)
        smpls = []
        for v in samples[k]:
            s = v
            if isinstance(s, (dict, list)):
                s = json.dumps(s)[:120] + ("â€¦" if len(json.dumps(s)) > 120 else "")
            else:
                s = str(s)
                if len(s) > 120:
                    s = s[:120] + "â€¦"
            smpls.append(s)

        # small-cardinality hint (only if â‰¤ 20 distinct)
        vc = value_counts_small[k]
        small_card_hint = "-"
        if 0 < len(vc) <= 20:
            common = ", ".join(f"{str(val)[:30]}({cnt})" for val, cnt in vc.most_common(5))
            small_card_hint = f"{len(vc)} distinct | top: {common}"

        rows.append({
            "key": k,
            "coverage_%": round(coverage, 2),
            "present_count": present,
            "null_count": nulls,
            "types": types,
            "numeric_stats": num_summary,
            "small_cardinality": small_card_hint,
            "samples": " | ".join(smpls),
        })

    df = pd.DataFrame(rows).sort_values(["coverage_%", "key"], ascending=[False, True])
    display(df)

    # Convenience: highlight common fields of interest if present
    for fld in ["owner_id", "user_id", "listing_id", "score", "timestamp", "state", "price", "bedrooms", "available_from"]:
        if fld in key_counter:
            print(f"â€¢ Field '{fld}' â†’ coverage {round(key_counter[fld]/n*100,2)}%")

    return df

In [8]:
# --- Run profiles ---
dfs = {}
for col in COLLECTIONS:
    try:
        dfs[col] = profile_collection(col, max_scan=MAX_SCAN)
    except qexc.UnexpectedResponse as e:
        print(f"Error accessing {col}: {e}")

=== owner_agent_listings ===
Total points: 1016
Scanned: 1016 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['000f06c2-872e-96e6-dd72-c50e8e92923e', '008c41e9-ce04-57bd-e7df-d85c5844b56c', '009d35b9-ca73-94e2-0dff-b40bea252941']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,available_from,100.0,1016,0,"null:604, str:412",-,"12 distinct | top: October(50), August(43), Se...",None | None | May | None | None
1,bedrooms,100.0,1016,0,int:1016,"[min=0, max=6, count=1016]","7 distinct | top: 1(736), 2(175), 3(74), 4(23)...",1 | 1 | 1 | 2 | 2
2,listing_id,100.0,1016,0,str:1016,-,-,000f06c2872e96e6dd72c50e8e92923e | 008c41e9ce0...
3,picture_url,100.0,1016,0,"null:1002, str:14",-,7 distinct | top: https://example.com/apt-phot...,None | None | None | None | None
4,price,100.0,1016,0,"int:526, null:490","[min=800, max=4500, count=526]","18 distinct | top: 2500(79), 3000(75), 800(70)...",None | None | 800 | None | None
5,soft_attributes,100.0,1016,0,str:1016,-,-,"newly renovated, updated appliances, hardwood ..."
7,state,100.0,1016,0,str:1016,-,"5 distinct | top: Chicago(238), Miami(203), Sa...",Chicago | Chicago | Miami | New York | Los Ang...
6,source,0.1,1,1015,str:1,-,1 distinct | top: user_query(1),user_query

â€¢ Field 'listing_id' â†’ coverage 100.0%
â€¢ Field 'state' â†’ coverage 100.0%
â€¢ Field 'price' â†’ coverage 100.0%
â€¢ Field 'bedrooms' â†’ coverage 100.0%
â€¢ Field 'available_from' â†’ coverage 100.0%

=== user_agent_listings ===
Total points: 1011
Scanned: 1011 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00235b8e-07f6-72f4-98d8-51a511449524', '0025d524-935f-6e94-0e53-ee262d848ce6', '0052d54b-39dc-bc06-adb5-38eb13efeac0']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,available_from,100.0,1011,0,"null:567, str:444",-,"16 distinct | top: October(75), March(42), Aug...",December | October | None | None | January
1,bedrooms,100.0,1011,0,int:1011,"[min=1, max=6, count=1011]","6 distinct | top: 1(736), 2(171), 3(74), 4(23)...",1 | 1 | 1 | 1 | 1
2,listing_id,100.0,1011,0,str:1011,-,-,00235b8e07f672f498d851a511449524 | 0025d524935...
3,picture_url,100.0,1011,0,null:1011,-,-,None | None | None | None | None
4,price,100.0,1011,0,"int:607, null:404","[min=99, max=5000, count=607]",-,2400 | 3000 | None | None | 3000
5,soft_attributes,100.0,1011,0,str:1011,-,-,"near downtown, near Union Square | close to pu..."
7,state,100.0,1011,0,str:1011,-,"5 distinct | top: San Francisco(229), Miami(20...",San Francisco | Chicago | Los Angeles | Miami ...
6,source,99.9,1010,1,str:1010,-,1 distinct | top: user_query(1010),user_query | user_query | user_query | user_qu...

â€¢ Field 'listing_id' â†’ coverage 100.0%
â€¢ Field 'state' â†’ coverage 100.0%
â€¢ Field 'price' â†’ coverage 100.0%
â€¢ Field 'bedrooms' â†’ coverage 100.0%
â€¢ Field 'available_from' â†’ coverage 100.0%

=== similarity_collection ===
Total points: 139419
Scanned: 2000 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00002dfd-2619-8928-90fc-a885f9bf7e7c', '000065ac-d985-8ffb-0748-f72912cc6f92', '00006841-67d1-c449-e3b4-d360f7b7d828']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,owner_id,100.0,2000,0,str:2000,-,-,d9e08424-bc77-656e-72f3-44c488406268 | 63f6f09...
1,score,100.0,2000,0,float:2000,"[min=0.5802, max=0.9063, count=2000]",-,0.776201579906092 | 0.7323483357573339 | 0.751...
2,timestamp,100.0,2000,0,float:2000,"[min=1.755e+09, max=1.755e+09, count=2000]",-,1755166463.605103 | 1755166445.747964 | 175516...
3,user_id,100.0,2000,0,str:2000,-,-,b4c4af9a-95cf-3b26-d0d3-6cb6285752e8 | ab681ee...

â€¢ Field 'owner_id' â†’ coverage 100.0%
â€¢ Field 'user_id' â†’ coverage 100.0%
â€¢ Field 'score' â†’ coverage 100.0%
â€¢ Field 'timestamp' â†’ coverage 100.0%

=== sampled_owner_agent_listings10 ===
Total points: 10
Scanned: 10 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['0dd128e8-57ae-d757-852f-4e7f11eec761', '4d090512-d8f5-2718-7147-2ff58d0a0039', '76356a80-5669-9aed-49f0-c0038c4c2301']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,available_from,100.0,10,0,"null:6, str:4",-,"4 distinct | top: December(1), February(1), Se...",None | December | February | September | None
1,bedrooms,100.0,10,0,int:10,"[min=1, max=4, count=10]","3 distinct | top: 1(7), 2(2), 4(1)",2 | 4 | 1 | 2 | 1
2,listing_id,100.0,10,0,str:10,-,10 distinct | top: 0dd128e857aed757852f4e7f11e...,0dd128e857aed757852f4e7f11eec761 | 4d090512d8f...
3,picture_url,100.0,10,0,null:10,-,-,None | None | None | None | None
4,price,100.0,10,0,"int:5, null:5","[min=2400, max=3000, count=5]","3 distinct | top: 2400(2), 3000(2), 2500(1)",2500 | 2400 | 2400 | 3000 | None
5,soft_attributes,100.0,10,0,str:10,-,"10 distinct | top: modern amenities, full kitc...","modern amenities, full kitchen, beautifully ti..."
6,state,100.0,10,0,str:10,-,"5 distinct | top: New York(3), Chicago(3), Los...",Miami | Los Angeles | San Francisco | New York...

â€¢ Field 'listing_id' â†’ coverage 100.0%
â€¢ Field 'state' â†’ coverage 100.0%
â€¢ Field 'price' â†’ coverage 100.0%
â€¢ Field 'bedrooms' â†’ coverage 100.0%
â€¢ Field 'available_from' â†’ coverage 100.0%

=== owner_profiles ===
Total points: 1016
Scanned: 1016 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['000f06c2-872e-96e6-dd72-c50e8e92923e', '008c41e9-ce04-57bd-e7df-d85c5844b56c', '009d35b9-ca73-94e2-0dff-b40bea252941']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,application_date,100.0,1016,0,str:1016,-,-,2025-07-01 | 2025-07-19 | 2025-07-20 | 2025-07...
1,email,100.0,1016,0,str:1016,-,"10 distinct | top: user1@example.com(119), mhm...",user3@example.com | user5@example.com | mhmod....
2,full_name,100.0,1016,0,str:1016,-,-,Mia Rodriguez | Thomas Moore | Sara Moore | Av...
3,number_of_shows,100.0,1016,0,str:1016,"[min=0, max=0, count=1016]",1 distinct | top: 0(1016),0 | 0 | 0 | 0 | 0
4,phone,100.0,1016,0,str:1016,-,-,+1-555-4320 | +1-555-7108 | +1-555-1478 | +1-5...
5,profile_id,100.0,1016,0,str:1016,-,-,000f06c2-872e-96e6-dd72-c50e8e92923e | 008c41e...
6,type,100.0,1016,0,str:1016,-,1 distinct | top: owner(1016),owner | owner | owner | owner | owner

=== user_profiles ===
Total points: 1011
Scanned: 1011 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00235b8e-07f6-72f4-98d8-51a511449524', '0025d524-935f-6e94-0e53-ee262d848ce6', '0052d54b-39dc-bc06-adb5-38eb13efeac0']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,application_date,100.0,1011,0,str:1011,-,-,2025-07-18 | 2025-07-08 | 2025-07-12 | 2025-07...
1,email,100.0,1011,0,str:1011,-,"10 distinct | top: user2@example.com(131), use...",user7@example.com | user5@example.com | user7@...
2,full_name,100.0,1011,0,str:1011,-,-,Daniel Williams | Daniel Martin | John Brown |...
3,number_of_shows,100.0,1011,0,str:1011,"[min=0, max=0, count=1011]",1 distinct | top: 0(1011),0 | 0 | 0 | 0 | 0
4,phone,100.0,1011,0,str:1011,-,-,+1-555-4293 | +1-555-8036 | +1-555-2249 | +1-5...
5,profile_id,100.0,1011,0,str:1011,-,-,00235b8e-07f6-72f4-98d8-51a511449524 | 0025d52...
6,type,100.0,1011,0,str:1011,-,1 distinct | top: user(1011),user | user | user | user | user

## function starvation

In [1]:
# ----------------- Example runs (tweak thresholds/limits while testing) -----------------
from agents.audit_starved_agent import audit_starved_users_to_csv, audit_starved_owners_to_csv 
users_csv  = audit_starved_users_to_csv(price_delta=100.0, room_delta=1, user_topn=300, days_threshold=30, shows_threshold=1, limit_users=20)
owners_csv = audit_starved_owners_to_csv(price_delta=100.0, owner_topn=300, days_threshold=30, shows_threshold=1, limit_owners=20)
print(users_csv, owners_csv)

âœ… Wrote starved users suggestions â†’ logs/starved_users_suggestions_20250814-153037.csv (rows=20)
âœ… Wrote starved owners suggestions â†’ logs/starved_owners_suggestions_20250814-153046.csv (rows=20)
logs/starved_users_suggestions_20250814-153037.csv logs/starved_owners_suggestions_20250814-153046.csv

## reset

In [4]:
from utils.reset_system import reset_system
reset_system(top_k_per_owner=50)

ðŸš€ Resetting systemâ€¦
ðŸ—‘ï¸  Deleted 'similarity_collection'.
ðŸ” Recomputing similarity pairs via match_for_new_owner for 1016 owners...

Rebuilding similarity_collection:   0%|          | 0/1016 [00:00<?, ?owner/s]

âœ… Created index on 'owner_id'
âœ… Created index on 'user_id'
ðŸ”„ Resetting number_of_shows to 0 on profilesâ€¦
âœ… Done. Rebuilt similarity from 1016 owners.
   Profiles reset â†’ owners: 1016, users: 1011