## Test parser and matching

In [22]:
from agents.owner_parser_agent import invoke_owner_parser_agent
from agents.user_parser_agent import invoke_user_parser_agent
from agents.matching_agent import match_for_new_user, match_for_new_owner

In [25]:
# --- 1) Inputs (aligned) ---
owner_input = """
Modern 1-bedroom loft in SoMa, San Francisco, with floor-to-ceiling windows and hardwood floors.
Comes fully furnished, includes high-speed internet, and access to a rooftop deck with skyline views.
$3,200 per month, available starting September.
Picture: https://example.com/apt-photos/soma-loft.jpg
""".strip()

user_input = """
Looking for a 1-bedroom apartment in San Francisco, preferably in SoMa or nearby areas.
Must have good natural light and be suitable for remote work; furnished is preferred.
My budget is up to $3,500 per month and Iâ€™d like to move in by September.
""".strip()

# --- 2) Parse + upload (each returns the new point id) ---
print("âž• Uploading owner listingâ€¦")
owner_point_id = invoke_owner_parser_agent(owner_input)
print("Owner point id:", owner_point_id)

print("\nâž• Uploading user queryâ€¦")
user_point_id = invoke_user_parser_agent(user_input)
print("User point id:", user_point_id)

âž• Uploading owner listingâ€¦
âœ… Upserted 1 points into 'owner_agent_listings' without resetting the collection.
âœ… Uploaded owner listing with ID: 19499b240b8be1d744057c5dfeb0fef7 to 'owner_agent_listings'
âœ… Uploaded profile to owner_profiles: Mia Taylor
Owner point id: 19499b240b8be1d744057c5dfeb0fef7

âž• Uploading user queryâ€¦
âœ… Upserted 1 points into 'user_agent_listings' without resetting the collection.
âœ… Uploaded user query with ID: f13bf0a4bb93ab3bd350198e9d0e5ed3 to 'user_agent_listings'
âœ… Uploaded profile to user_profiles: Joseph Miller
User point id: f13bf0a4bb93ab3bd350198e9d0e5ed3

In [26]:
# --- 3) Match both directions ---

print("\nðŸ”Ž Matching for NEW USER â†’ owner listings â€¦")
user_matches = match_for_new_user(user_point_id)

print("ðŸ”Ž Matching for NEW OWNER â†’ user queries â€¦")
owner_matches = match_for_new_owner(owner_point_id)

ðŸ”Ž Matching for NEW USER â†’ owner listings â€¦
ðŸ”Ž Matching for NEW OWNER â†’ user queries â€¦

In [27]:
from utils.qdrant_connection import print_owner_matches_with_details , print_user_matches_with_details

print_user_matches_with_details(user_matches, top_k=5)
print_owner_matches_with_details(owner_matches, top_k=5)

Top 4 owners for this user:
  score=0.4771  owner_id=351d2aba-79e4-a5c7-eb49-922ad9526a07
    [state: San Francisco | price: 800 | bedrooms: 1 | available_from: September] soft: sunny room, quiet living environment, fast WiFi, access to nearby restaurants, cafes, and Whole Foods
  score=0.4729  owner_id=19499b24-0b8b-e1d7-4405-7c5dfeb0fef7
    [state: SoMa, San Francisco | price: 3200 | bedrooms: 1 | available_from: September] soft: modern design, floor-to-ceiling windows, hardwood floors, fully furnished, high-speed internet, access to rooftop deck wâ€¦
  score=0.3463  owner_id=d4fdbd1e-b07d-632e-8a95-ccba2f93167a
    [state: San Francisco | price: 1600 | bedrooms: 1 | available_from: September] soft: spacious, safe neighborhood, 30-minute bus ride to downtown, accommodates up to 2 adults, private bathroom, shared kitchâ€¦
  score=0.2609  owner_id=7f05e363-16db-12bf-fb69-6d47bc66dbea
    [state: San Francisco | price: 2400 | bedrooms: 1 | available_from: September] soft: iconic Russian Hill neighborhood, stunning bay views, Mediterranean-style, fireplace, formal dining room, view balcony, â€¦
Top 1 users for this owner:
  score=0.4729  user_id=f13bf0a4-bb93-ab3b-d350-198e9d0e5ed3
    [state: San Francisco, SoMa | price: 3500 | bedrooms: 1 | available_from: September] soft: good natural light, suitable for remote work, furnished preferred

[{'user_id': 'f13bf0a4-bb93-ab3b-d350-198e9d0e5ed3',
  'owner_id': '19499b24-0b8b-e1d7-4405-7c5dfeb0fef7',
  'score': 0.47292337,
  'filter_used': {'collection': 'user_agent_listings',
   'state': ['SoMa', 'San Francisco'],
   'price_owner': 3200,
   'bedrooms_owner': 1,
   'available_from': 'September'},
  'timestamp': 1755088781.3974662}]

In [29]:
## retrive owner profile from qdrant collection
from utils.qdrant_connection import client, OWNER_PROFILES_COLLECTION
from qdrant_client.http.models import Filter, FieldCondition, MatchValue

def get_owner_profile(owner_id):
    filter = Filter(
        must=[
            FieldCondition(
                key="owner_id",
                match=MatchValue(value=owner_id)
            )
        ]
    )
    
    response = client.scroll(
        collection_name=OWNER_PROFILES_COLLECTION,
        filter=filter,
        limit=1
    )
    
    if response:
        return response[0].payload
    else:
        return None

In [2]:
from utils.qdrant_connection import get_user_profile , get_owner_profile
owner_profile = get_owner_profile(owner_point_id)  # -> dict or None
user_profile  = get_user_profile(user_point_id)    # -> dict or None

print(owner_profile)
print(user_profile)

{'profile_id': '19499b240b8be1d744057c5dfeb0fef7', 'type': 'owner', 'full_name': 'Mia Taylor', 'email': 'user1@example.com', 'phone': '+1-555-4943', 'application_date': '2025-07-03', 'number_of_shows': '0'}
{'profile_id': 'f13bf0a4bb93ab3bd350198e9d0e5ed3', 'type': 'user', 'full_name': 'Joseph Miller', 'email': 'moodmath48@gmail.com', 'phone': '+1-555-6559', 'application_date': '2025-07-08', 'number_of_shows': '0'}

## Decicion

In [1]:
# Test daily_llm_showing_decisions on the sampled collection

import csv
import time
from datetime import datetime

from agents.manage_showings_agent import daily_llm_showing_decisions, OWNER_COLLECTION
from utils.qdrant_connection import client  # for count

# ------------ Config you can tweak ------------
TOP_K = 10             # how many matches per owner to consider
WRITE_CSV = True       # set False to skip writing a log file
MAX_PREVIEW = 8        # how many rows to print in console
# ----------------------------------------------

# Quick sanity check: sampled collection exists & size
try:
    cnt = client.count(collection_name=OWNER_COLLECTION, exact=True).count
    print(f"Testing collection: '{OWNER_COLLECTION}' | count = {cnt}")
except Exception as e:
    raise RuntimeError(f"Could not count collection '{OWNER_COLLECTION}': {e}")

t0 = time.time()
results = daily_llm_showing_decisions(top_k=TOP_K)
dt = time.time() - t0

# Aggregate stats
n_total = len(results)
n_errors = sum(1 for r in results if "error" in r)
n_decided = sum(1 for r in results if "decision" in r)
n_show = sum(1 for r in results if r.get("decision", {}).get("show") == "1")
total_invites = sum(int(r["decision"]["num"]) for r in results if r.get("decision", {}).get("show") == "1")

print(f"\nRun time: {dt:.2f}s")
print(f"Owners processed: {n_total} | with decisions: {n_decided} | errors: {n_errors}")
print(f"SHOW=1: {n_show} | total invites: {total_invites}")

# Preview a few rows
print("\nSample decisions:")
preview = 0
for r in results:
    if "error" in r:
        print(f"- owner_id={r['owner_id']}  ERROR: {r['error_type'] if 'error_type' in r else ''} {r['error']}")
    else:
        dec = r["decision"]
        print(f"- owner_id={r['owner_id']}  considered={r['considered']}  mean_top5={r['mean_top5']}  decision={dec}  sample={r['sample']}")
    preview += 1
    if preview >= MAX_PREVIEW:
        break

# Optional: write CSV log
if WRITE_CSV and results:
    ts = datetime.utcnow().strftime("%Y%m%d-%H%M%S")
    path = f"logs/showing_decisions_run_{OWNER_COLLECTION}_{ts}.csv"
    with open(path, "w", newline="", encoding="utf-8") as f:
        w = csv.writer(f)
        w.writerow(["owner_id", "considered", "mean_top5", "show", "num", "sample", "error_type", "error"])
        for r in results:
            if "error" in r:
                w.writerow([r.get("owner_id"), "", "", "", "", "", r.get("error_type",""), r.get("error","")])
            else:
                dec = r["decision"]
                w.writerow([
                    r["owner_id"],
                    r["considered"],
                    r["mean_top5"],
                    dec.get("show"),
                    dec.get("num"),
                    r.get("sample"),
                    "",
                    ""
                ])
    print(f"\nSaved CSV â†’ {path}")

Testing collection: 'sampled_owner_agent_listings' | count = 50

ManageShowings:   0%|          | 0/50 [00:00<?, ?owner/s]

Run time: 65.26s
Owners processed: 50 | with decisions: 50 | errors: 0
SHOW=1: 41 | total invites: 175

Sample decisions:
- owner_id=044e9ae9-c6a7-c53d-a570-2a26b4e455ed  considered=10  mean_top5=0.496  decision={'show': '1', 'num': '3'}  sample=[{'user_id': '698a8e67-0083-b180-80fd-64514771d158', 'score': 0.7215}, {'user_id': 'b5579128-f5d0-6056-747e-75e0ad260a8c', 'score': 0.4769}, {'user_id': 'c6b8a2b9-c691-2780-8711-d14e3b80241a', 'score': 0.4531}]
- owner_id=04cc4a5f-1b97-b3e0-be73-94dc559d189b  considered=6  mean_top5=0.5221  decision={'show': '1', 'num': '3'}  sample=[{'user_id': 'b222c70e-08ba-0212-fc0d-7d6b45a5b64b', 'score': 0.7772}, {'user_id': '04315916-c790-51ad-2d6e-20a4a380a2d7', 'score': 0.5228}, {'user_id': 'cdafe5f3-afad-0463-cba3-e97ac54abefc', 'score': 0.4898}]
- owner_id=06e4884b-aa37-22a6-e9bd-1fd6a76c3f8a  considered=10  mean_top5=0.6179  decision={'show': '1', 'num': '5'}  sample=[{'user_id': '4e959be2-f2d2-d685-5a46-430b21f93d6b', 'score': 0.637}, {'user_id': 'b2be4a3a-c989-9143-39d1-b1827c3aa36b', 'score': 0.6228}, {'user_id': '8c003a51-9953-7db4-d1b9-4b9f7456b070', 'score': 0.6199}]
- owner_id=08f44c3c-106a-7dc0-7c6d-75ee961e08e5  considered=10  mean_top5=0.6781  decision={'show': '1', 'num': '3'}  sample=[{'user_id': '5b201980-5121-39d3-3267-040d02c780a7', 'score': 0.7012}, {'user_id': '689a5cdf-5c50-b442-3e55-99a3f6d6f477', 'score': 0.7011}, {'user_id': '6db4050a-6ab8-03d4-f033-21bf3df29e4a', 'score': 0.6684}]
- owner_id=0c5d2803-431d-8623-38db-94261add7a9a  considered=10  mean_top5=0.631  decision={'show': '1', 'num': '5'}  sample=[{'user_id': '36e6adce-202f-8de7-6ad0-24c5f7ee6794', 'score': 0.7923}, {'user_id': 'e87fa6b9-0333-dc54-eceb-45bbd60bce5d', 'score': 0.6013}, {'user_id': 'c716628b-6751-9fb4-0e5f-3104ffbf5c93', 'score': 0.5891}]
- owner_id=0de873c2-5d50-a544-f1ce-0fc090e83a57  considered=10  mean_top5=0.5784  decision={'show': '1', 'num': '5'}  sample=[{'user_id': '02543539-fea9-19fd-d10d-3bfe6d0b1279', 'score': 0.7041}, {'user_id': 'bad8a610-fe50-c40b-4fe1-0f4615a57024', 'score': 0.5766}, {'user_id': 'd5a27b6c-e402-40d1-cf8a-b109a655ea04', 'score': 0.5476}]
- owner_id=0f4af15c-6304-d387-d92d-e861cad83e87  considered=0  mean_top5=0.0  decision={'show': '0', 'num': '0'}  sample=[]
- owner_id=155d10fa-fe6f-7539-962d-474e19949fae  considered=0  mean_top5=0.0  decision={'show': '0', 'num': '0'}  sample=[]

Saved CSV â†’ logs/showing_decisions_run_sampled_owner_agent_listings_20250812-124148.csv

In [1]:
# Schema/profile explorer for Qdrant collections
# Inspects payload keys, their types, null %s, sample values, and basic stats for numerics.
# Also reports ID format/length and (optionally) whether certain fields like `score` / `timestamp` exist.

from qdrant_client import QdrantClient
from qdrant_client.http import exceptions as qexc
from collections import Counter, defaultdict
from datetime import datetime
import pandas as pd
import math, json, random

# --- Qdrant config (reuse yours or import from utils.qdrant_connection) ---
QDRANT_URL  = "https://3cf2848d-0574-468d-a996-0efabdea92b9.us-west-1-0.aws.cloud.qdrant.io"
QDRANT_KEY  = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.79h_Yg9qXYtICf-fs1CMuMdK5Rw13OnE_DJR953fYQ4"

client = QdrantClient(url=QDRANT_URL, api_key=QDRANT_KEY)

COLLECTIONS = [
    "owner_agent_listings",
    "user_agent_listings",
    "similarity_collection",
    "owner_profiles",
    "user_profiles",
]

MAX_SCAN = 2000      # cap how many points to scan per collection (tweak as you wish)
SCROLL_BATCH = 1000  # Qdrant page size

def _scroll_some(collection_name, max_scan=MAX_SCAN, batch=SCROLL_BATCH):
    out, next_page = [], None
    while len(out) < max_scan:
        recs, next_page = client.scroll(
            collection_name=collection_name,
            with_payload=True,
            with_vectors=False,
            limit=min(batch, max_scan - len(out)),
            offset=next_page
        )
        out.extend(recs)
        if next_page is None:
            break
    return out

def _typename(v):
    if v is None: return "null"
    t = type(v)
    if t in (int, float, bool, str): return t.__name__
    if isinstance(v, list): return "list"
    if isinstance(v, dict): return "dict"
    return t.__name__

def _try_float(v):
    try:
        f = float(v)
        if math.isnan(f): return None
        return f
    except Exception:
        return None

def profile_collection(name: str, max_scan=MAX_SCAN):
    # Count first for context
    total = client.count(collection_name=name, exact=True).count
    print(f"\n=== {name} ===")
    print(f"Total points: {total}")

    # Scroll some
    records = _scroll_some(name, max_scan=max_scan)
    n = len(records)
    print(f"Scanned: {n} points (max_scan={max_scan})")

    # ID profile
    id_lengths = [len(str(r.id)) for r in records]
    id_prefixes = [str(r.id)[:8] for r in records]
    print(f"ID lengths: min={min(id_lengths) if id_lengths else '-'} "
          f"max={max(id_lengths) if id_lengths else '-'} "
          f"median={sorted(id_lengths)[len(id_lengths)//2] if id_lengths else '-'}")
    print(f"Sample IDs: {[str(r.id) for r in records[:3]]}")

    # Payload key coverage
    key_counter = Counter()
    # For each key, track types and a few sample values
    type_counter = defaultdict(Counter)
    samples = defaultdict(list)

    # Numeric stats
    numeric_stats = defaultdict(lambda: {"min": float("inf"), "max": float("-inf"), "count": 0})

    # Boolean / small-cardinality tracking
    value_counts_small = defaultdict(Counter)

    for r in records:
        p = r.payload or {}
        for k, v in p.items():
            key_counter[k] += 1
            tname = _typename(v)
            type_counter[k][tname] += 1

            if len(samples[k]) < 5:
                samples[k].append(v)

            # numeric stats
            fv = _try_float(v)
            if fv is not None:
                s = numeric_stats[k]
                s["min"] = min(s["min"], fv)
                s["max"] = max(s["max"], fv)
                s["count"] += 1

            # track small cardinality (strings/ints only)
            if isinstance(v, (str, int, float, bool)) and key_counter[k] <= 2000:
                value_counts_small[k][v] += 1

    rows = []
    for k in sorted(key_counter.keys()):
        present = key_counter[k]
        nulls = n - present
        coverage = present / n * 100 if n else 0.0
        types = ", ".join(f"{t}:{c}" for t, c in type_counter[k].most_common())

        stat = numeric_stats[k]
        num_summary = "-"
        if stat["count"] > 0:
            num_summary = f"[min={stat['min']:.4g}, max={stat['max']:.4g}, count={stat['count']}]"

        # choose a readable sample preview (stringify and truncate)
        smpls = []
        for v in samples[k]:
            s = v
            if isinstance(s, (dict, list)):
                s = json.dumps(s)[:120] + ("â€¦" if len(json.dumps(s)) > 120 else "")
            else:
                s = str(s)
                if len(s) > 120:
                    s = s[:120] + "â€¦"
            smpls.append(s)

        # small-cardinality hint (only if â‰¤ 20 distinct)
        vc = value_counts_small[k]
        small_card_hint = "-"
        if 0 < len(vc) <= 20:
            common = ", ".join(f"{str(val)[:30]}({cnt})" for val, cnt in vc.most_common(5))
            small_card_hint = f"{len(vc)} distinct | top: {common}"

        rows.append({
            "key": k,
            "coverage_%": round(coverage, 2),
            "present_count": present,
            "null_count": nulls,
            "types": types,
            "numeric_stats": num_summary,
            "small_cardinality": small_card_hint,
            "samples": " | ".join(smpls),
        })

    df = pd.DataFrame(rows).sort_values(["coverage_%", "key"], ascending=[False, True])
    display(df)

    # Convenience: highlight common fields of interest if present
    for fld in ["owner_id", "user_id", "listing_id", "score", "timestamp", "state", "price", "bedrooms", "available_from"]:
        if fld in key_counter:
            print(f"â€¢ Field '{fld}' â†’ coverage {round(key_counter[fld]/n*100,2)}%")

    return df

In [2]:
# --- Run profiles ---
dfs = {}
for col in COLLECTIONS:
    try:
        dfs[col] = profile_collection(col, max_scan=MAX_SCAN)
    except qexc.UnexpectedResponse as e:
        print(f"Error accessing {col}: {e}")

=== owner_agent_listings ===
Total points: 1010
Scanned: 1010 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['000f06c2-872e-96e6-dd72-c50e8e92923e', '008c41e9-ce04-57bd-e7df-d85c5844b56c', '009d35b9-ca73-94e2-0dff-b40bea252941']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,available_from,100.0,1010,0,"null:604, str:406",-,"12 distinct | top: October(49), August(43), Ma...",None | None | May | None | None
1,bedrooms,100.0,1010,0,int:1010,"[min=0, max=6, count=1010]","7 distinct | top: 1(731), 2(174), 3(74), 4(23)...",1 | 1 | 1 | 2 | 2
2,listing_id,100.0,1010,0,str:1010,-,-,000f06c2872e96e6dd72c50e8e92923e | 008c41e9ce0...
3,picture_url,100.0,1010,0,"null:1001, str:9",-,5 distinct | top: https://example.com/apt-phot...,None | None | None | None | None
4,price,100.0,1010,0,"int:520, null:490","[min=800, max=4500, count=520]","17 distinct | top: 2500(79), 3000(75), 800(70)...",None | None | 800 | None | None
5,soft_attributes,100.0,1010,0,str:1010,-,-,"newly renovated, updated appliances, hardwood ..."
7,state,100.0,1010,0,list:1010,-,-,"[""Bed-Stuy"", ""Brooklyn"", ""New York City""] | [""..."
6,source,0.1,1,1009,str:1,-,1 distinct | top: user_query(1),user_query

â€¢ Field 'listing_id' â†’ coverage 100.0%
â€¢ Field 'state' â†’ coverage 100.0%
â€¢ Field 'price' â†’ coverage 100.0%
â€¢ Field 'bedrooms' â†’ coverage 100.0%
â€¢ Field 'available_from' â†’ coverage 100.0%

=== user_agent_listings ===
Total points: 1004
Scanned: 1004 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00235b8e-07f6-72f4-98d8-51a511449524', '0025d524-935f-6e94-0e53-ee262d848ce6', '0052d54b-39dc-bc06-adb5-38eb13efeac0']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,available_from,100.0,1004,0,"null:567, str:437",-,"16 distinct | top: October(74), March(42), Aug...",December | October | None | None | January
1,bedrooms,100.0,1004,0,int:1004,"[min=1, max=6, count=1004]","6 distinct | top: 1(731), 2(170), 3(73), 4(23)...",1 | 1 | 1 | 1 | 1
2,listing_id,100.0,1004,0,str:1004,-,-,00235b8e07f672f498d851a511449524 | 0025d524935...
3,picture_url,100.0,1004,0,null:1004,-,-,None | None | None | None | None
4,price,100.0,1004,0,"int:600, null:404","[min=99, max=5000, count=600]",-,2400 | 3000 | None | None | 3000
5,soft_attributes,100.0,1004,0,str:1004,-,-,"near downtown, near Union Square | close to pu..."
7,state,100.0,1004,0,list:1004,-,-,"[""San Francisco""] | [""New York City""] | [""New ..."
6,source,99.9,1003,1,str:1003,-,1 distinct | top: user_query(1003),user_query | user_query | user_query | user_qu...

â€¢ Field 'listing_id' â†’ coverage 100.0%
â€¢ Field 'state' â†’ coverage 100.0%
â€¢ Field 'price' â†’ coverage 100.0%
â€¢ Field 'bedrooms' â†’ coverage 100.0%
â€¢ Field 'available_from' â†’ coverage 100.0%

=== similarity_collection ===
Total points: 30070
Scanned: 2000 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00002dfd-2619-8928-90fc-a885f9bf7e7c', '00018f3a-6b1b-7701-9322-70b25d96fae7', '00034545-0053-1cfc-2e2e-670af297d33d']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,filter_used,100.0,2000,0,dict:2000,-,-,"{""collection"": ""user_agent_listings"", ""state"":..."
1,owner_id,100.0,2000,0,str:2000,-,-,d9e08424-bc77-656e-72f3-44c488406268 | 5fe3c73...
2,score,100.0,2000,0,float:2000,"[min=0.1694, max=0.9001, count=2000]",-,0.55240315 | 0.6045309 | 0.5314168 | 0.5395528...
3,timestamp,100.0,2000,0,float:2000,"[min=1.755e+09, max=1.755e+09, count=2000]",-,1754906840.3216486 | 1754906437.3464315 | 1754...
4,user_id,100.0,2000,0,str:2000,-,-,b4c4af9a-95cf-3b26-d0d3-6cb6285752e8 | 3e91e30...

â€¢ Field 'owner_id' â†’ coverage 100.0%
â€¢ Field 'user_id' â†’ coverage 100.0%
â€¢ Field 'score' â†’ coverage 100.0%
â€¢ Field 'timestamp' â†’ coverage 100.0%

=== owner_profiles ===
Total points: 1010
Scanned: 1010 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['000f06c2-872e-96e6-dd72-c50e8e92923e', '008c41e9-ce04-57bd-e7df-d85c5844b56c', '009d35b9-ca73-94e2-0dff-b40bea252941']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,application_date,100.0,1010,0,str:1010,-,-,2025-07-01 | 2025-07-19 | 2025-07-20 | 2025-07...
1,email,100.0,1010,0,str:1010,-,"10 distinct | top: user1@example.com(118), mhm...",user3@example.com | user5@example.com | mhmod....
2,full_name,100.0,1010,0,str:1010,-,-,Mia Rodriguez | Thomas Moore | Sara Moore | Av...
3,number_of_shows,100.0,1010,0,str:1010,"[min=0, max=0, count=1010]",1 distinct | top: 0(1010),0 | 0 | 0 | 0 | 0
4,phone,100.0,1010,0,str:1010,-,"20 distinct | top: +1-555-2905(60), +1-555-803...",+1-555-4320 | +1-555-7108 | +1-555-1478 | +1-5...
5,profile_id,100.0,1010,0,str:1010,-,-,000f06c2-872e-96e6-dd72-c50e8e92923e | 008c41e...
6,type,100.0,1010,0,str:1010,-,1 distinct | top: owner(1010),owner | owner | owner | owner | owner

=== user_profiles ===
Total points: 1004
Scanned: 1004 points (max_scan=2000)
ID lengths: min=36 max=36 median=36
Sample IDs: ['00235b8e-07f6-72f4-98d8-51a511449524', '0025d524-935f-6e94-0e53-ee262d848ce6', '0052d54b-39dc-bc06-adb5-38eb13efeac0']

,key,coverage_%,present_count,null_count,types,numeric_stats,small_cardinality,samples
0,application_date,100.0,1004,0,str:1004,-,-,2025-07-18 | 2025-07-08 | 2025-07-12 | 2025-07...
1,email,100.0,1004,0,str:1004,-,"10 distinct | top: user2@example.com(131), use...",user7@example.com | user5@example.com | user7@...
2,full_name,100.0,1004,0,str:1004,-,-,Daniel Williams | Daniel Martin | John Brown |...
3,number_of_shows,100.0,1004,0,str:1004,"[min=0, max=0, count=1004]",1 distinct | top: 0(1004),0 | 0 | 0 | 0 | 0
4,phone,100.0,1004,0,str:1004,-,"20 distinct | top: +1-555-8036(59), +1-555-710...",+1-555-4293 | +1-555-8036 | +1-555-2249 | +1-5...
5,profile_id,100.0,1004,0,str:1004,-,-,00235b8e-07f6-72f4-98d8-51a511449524 | 0025d52...
6,type,100.0,1004,0,str:1004,-,1 distinct | top: user(1004),user | user | user | user | user

In [1]:
from qdrant_client import QdrantClient
from qdrant_client.models import VectorParams, Distance, PointStruct
import random
from datetime import datetime, timedelta
from utils.qdrant_connection import client

OWNER_LISTINGS_COLLECTION = "owner_agent_listings"
USER_LISTINGS_COLLECTION = "user_agent_listings"
OWNER_PROFILES_COLLECTION = "owner_profiles"
USER_PROFILES_COLLECTION = "user_profiles"

In [2]:
# --- 1. Create profile collections (1-dim dummy vector) ---
for coll in [OWNER_PROFILES_COLLECTION, USER_PROFILES_COLLECTION]:
    client.recreate_collection(
        collection_name=coll,
        vectors_config=VectorParams(size=1, distance=Distance.COSINE)
    )

C:\Users\mahmo\AppData\Local\Temp\ipykernel_28256\1784589167.py:3: DeprecationWarning: `recreate_collection` method is deprecated and will be removed in the future. Use `collection_exists` to check collection existence and `create_collection` instead.
  client.recreate_collection(

In [ ]:
# --- 2. Create synthetic data pools ---
first_names = [
    "John", "Alice", "Michael", "Sara", "David", "Emma", "Robert", "Olivia",
    "Daniel", "Sophia", "James", "Mia", "William", "Ava", "Joseph", "Isabella",
    "Thomas", "Emily", "Matthew", "Charlotte"
]
last_names = [
    "Smith", "Johnson", "Williams", "Brown", "Jones", "Garcia", "Miller", "Davis",
    "Rodriguez", "Martinez", "Hernandez", "Lopez", "Gonzalez", "Wilson", "Anderson",
    "Thomas", "Taylor", "Moore", "Jackson", "Martin"
]
emails = [
    "mahmoudbj48@gmail.com", "mhmod.0586367379@gmail.com", "moodmath48@gmail.com",
]
# add 7 synthetic emails
emails += [f"user{i}@example.com" for i in range(1, 8)]

phones = [f"+1-555-{random.randint(1000,9999)}" for _ in range(20)]

# generate list of dates between 2025-07-01 and 2025-08-12
start_date = datetime(2025, 7, 1)
end_date = datetime(2025, 8, 12)
date_list = [(start_date + timedelta(days=i)).strftime("%Y-%m-%d") 
             for i in range((end_date - start_date).days + 1)]

In [4]:
# --- 3. Helper to fetch all points ---
def fetch_all(collection_name):
    res, _ = client.scroll(collection_name=collection_name, with_payload=True, limit=2000)
    return res

owners = fetch_all(OWNER_LISTINGS_COLLECTION)
users = fetch_all(USER_LISTINGS_COLLECTION)

In [ ]:
# --- 4. Create random profile payloads ---
def make_profile(profile_id, type_):
    return {
        "profile_id": profile_id,
        "type": type_,
        "full_name": f"{random.choice(first_names)} {random.choice(last_names)}",
        "email": random.choice(emails),
        "phone": random.choice(phones),
        "application_date": random.choice(date_list),
        "number_of_shows": "0"
    }

In [7]:

# --- 5. Upsert profiles into Qdrant ---
owner_points = [
    PointStruct(
        id=o.id,
        vector=[0.0],
        payload=make_profile(o.id, "owner", o.payload.get("state", None))
    )
    for o in owners
]
user_points = [
    PointStruct(
        id=u.id,
        vector=[0.0],
        payload=make_profile(u.id, "user", u.payload.get("state", None))
    )
    for u in users
]

In [8]:



client.upsert(collection_name=OWNER_PROFILES_COLLECTION, points=owner_points)
client.upsert(collection_name=USER_PROFILES_COLLECTION, points=user_points)

print(f"Inserted {len(owner_points)} owner profiles and {len(user_points)} user profiles.")

Inserted 1010 owner profiles and 1004 user profiles.